/*topbar*/
.top-bar {
    background-color: #333333;
}

/*footer-main*/
.mainFt__services {
    border-right: 1px solid #e0e0e0;
}

.ft__service-icon i {
    color: #424242;
    padding-right: 10px;
    font-size: 18px;
}

.ft__service-icon:hover {
    color: #736f6d !important;

}

.ft__service-icon:hover i {
    -webkit-transform: scale(1.2) translateX(-5px);
    -moz-transform: scale(1.2) translateX(-5px);
    -ms-transform: scale(1.2) translateX(-5px);
    -o-transform: scale(1.2) translateX(-5px);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: #736f6d;
}

.mainFt__services span {
    font-size: 14px;
    line-height: 18px;
}

.ft_style-p p {
    margin: 0;
    color: #736f6d;
    font-size: 14px;
}

.footer__link h4 {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: 15px;
    color: #424242;
}

.footer__link ul {
    padding: 0;
}

.footer__link ul li {
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 15px;
}

.footer__link ul li a {
    color: #736f6d;
}

.footer__link ul li a:hover {
    text-decoration: none;
}

.ft__sub-phone {
    font-size: 12px;
    color: #757575;
}

.ft--block-style {

}

.ft--border-bt {
    border-bottom: 1px solid #e0e0e0;
}

/*footer-info*/
.ft__info {
    background-color: #f5f5f5;
    font-size: 12px;
    padding: 30px 0;
}

.ft__icon-box {
    margin-top: 30px;
}

.ft__icon-box a {
    padding: 3px;
    width: 34px;
    height: 34px;
    background: rgba(218, 218, 218, 0.65);
    color: #222;
    border-radius: 50%;
    line-height: 34px;
    transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
    display: inline-block;
    margin: 4px;
}

.ft__icon-box a:hover {
    background-color: #736f6d;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    color: #fff;
}

.ft__ li {
    list-style-type: none;
    margin-right: 10px;
    margin-left: 5px;
}
/*blog list*/
.bl__info-row img{
	width: 100%;
}
.bl__info-row h2 a{
	font-size: 20px;
	font-weight: 400;
	color: #000;
	line-height: 28px;
}
.bl__info-row h2 a:hover{
	text-decoration: none;
	color: #736f6d;
}
.bl__info-row span a{
	color: #aab2bd;
	font-weight: 300;
	font-size: 12px;
	border-left: 1px solid #aab2bd;
	padding: 0 10px;
}
.bl__info-row span a:hover{
	text-decoration: none;
}
.bl--first-line a{
	padding-left: 0 !important;
	border-left: 0px !important;
}
.bl__btn-readMore a,i{
	font-size: 12px;
	color: #bd4f0f;
}
.bl__btn-readMore a:hover{
	text-decoration:none;
}
.bl__info-author{
	margin-top: 5px;
	margin-bottom: 15px;
}
.page-link{
    padding: .25rem .7rem;
    border-radius: unset !important;
    color: #909090;
}
.page-link:hover{
    background: #736f6d;
    color: #fff;
}
.pagination__active a{
    background-color: #000;
    color: #fff;
}
.bl__right-list ul{
    padding:0;
    margin:0;
}
.bl__right-list ul li{
    list-style-type: none;
    border-top: 1px solid #e0e0e0;
}
.bl__right-list ul li a{
    color: #555555;
    padding: 10px 15px;
    display: block;
}
.bl__right-list ul li a:hover{
    color: #736f6d;
    text-decoration: none;
}
.bl__right-list-first{
    border-top: 0px !important;
}
.bl__right-header{
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px solid #e0e0e0 ;
    margin-bottom: 0;
}
.bl__news-list img{
    width: 100%;
    /*margin-left: -15px;
    margin-right: -15px;*/
    border: 1px solid #ccc;
}
.bl__news-list i{
    margin-right:5px;
    color:  #5aa5ce;
    font-size: 15px;

}
.bl__news-list span{
    font-size: 12px;
}
.bl__news-item{
     border-top: 1px solid #e0e0e0;
     padding: 10px 0;
     margin: 0 ;
}